<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">
	
	 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean> 

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/sshtest">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="111"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/ssh/entity/TUser.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
        <property name="transactionManager" ref="transactionManager" /> 
        <property name="transactionAttributes">
            <props>
                <!-- 指明进行事务管理业务方法名[*是通配符] -->
                <prop key="add*">PROPAGATION_REQUIRED</prop>
                 <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="edit*">PROPAGATION_REQUIRED</prop>
                <prop key="del*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
     <!-- 登录Action -->
    <bean id="loginAction" class="com.ssh.action.LoginAction" scope="singleton">
    <property name="userService" ref="userService" />
    </bean>

    <!-- userDAO  -->
    <bean id="userDAO" class="com.ssh.dao.UserDAOImpl" parent="daoTemplate" />
    <bean id="userService" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.ssh.service.UserServiceImpl">
                <property name="userDAO" ref="userDAO"/>
            </bean>
        </property>
    </bean> 

        <bean id="daoTemplate" abstract="true">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" /></beans>
